header {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
    ;
    background-color: rgb(255, 255, 255)
}

.logo {
    height: 150px;
    margin-top: 16x;
    margin-bottom: 16x;
    margin-right: 16x;
    margin-left: 16x;
}