.map{
    min-width: 50x;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgba($color: #000000, $alpha: 1.0);
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
  }
  #chart-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  